<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left1">
                    <div class="prof_image">
                        <img src="images/Profile.png" alt="">
                    </div>
                    <div class="prof_info">
                        <h2><%-user.name%></h2>
                        <p>Heart</p>
                    </div>
                    <div class="prof_links">
                        <div class="prof_link">
                            <img src="icons/icons-facebook.svg" alt="icon">
                        </div>
                        <div class="prof_link">
                            <img src="icons/icons-instagram.svg" alt="icon">
                        </div>
                        <div class="prof_link">
                            <img src="icons/icons-linkedin.svg" alt="icon">
                        </div>
                        <div class="prof_link">
                            <img src="icons/icons-twitter.svg" alt="icon">
                        </div>
                        <div class="prof_link">
                            <img src="icons/icons-Youtube.svg" alt="icon">
                        </div>
                        <div class="prof_link">
                            <img src="icons/icons-dribbble.svg" alt="icon">
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left2">
                    <div class="inform">
                        <h4>Age</h4>
                        <p>24</p>
                    </div>
                    <div class="inform">
                        <h4>Recidense</h4>
                        <p>BD</p>
                    </div>
                    <div class="inform">
                        <h4>Freelance</h4>
                        <p style="color: green;">Available</p>
                    </div>
                    <div class="inform">
                        <h4>Address</h4>
                        <p>Busan, South Korea</p>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left3">
                    <h4>Languages</h4>
                    <div class="process">
                        <div class="process_info">
                            <p>Uzbek</p>
                            <p>100%</p>
                        </div>
                        <div class="process_input">
                            <span></span>
                        </div>
                    </div>
                    <div class="process">
                        <div class="process_info">
                            <p>English</p>
                            <p>80%</p>
                        </div>
                        <div class="process_input">
                            <span></span>
                        </div>
                    </div>
                    <div class="process">
                        <div class="process_info">
                            <p>Korean</p>
                            <p>80%</p>
                        </div>
                        <div class="process_input">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left4">
                    <h4>Skills</h4>
                    <div class="process">
                        <div class="process_info">
                            <p>Html</p>
                            <p>100%</p>
                        </div>
                        <div class="process_input">
                            <span></span>
                        </div>
                    </div>
                    <div class="process">
                        <div class="process_info">
                            <p>Css</p>
                            <p>80%</p>
                        </div>
                        <div class="process_input">
                            <span></span>
                        </div>
                    </div>
                    <div class="process">
                        <div class="process_info">
                            <p>Js</p>
                            <p>80%</p>
                        </div>
                        <div class="process_input">
                            <span></span>
                        </div>
                    </div>
                    <div class="process">
                        <div class="process_info">
                            <p>Php</p>
                            <p>80%</p>
                        </div>
                        <div class="process_input">
                            <span></span>
                        </div>
                    </div>
                    <div class="process">
                        <div class="process_info">
                            <p>WordPress</p>
                            <p>80%</p>
                        </div>
                        <div class="process_input">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left5">
                    <h4>Extra Skills</h4>
                    <div class="skill">
                        <img src="icons/Icons.svg" alt="">
                        <p>Bootstrap, Materialize</p>
                    </div>
                    <div class="skill">
                        <img src="icons/Icons.svg" alt="">
                        <p>Bootstrap, Materialize</p>
                    </div>
                    <div class="skill">
                        <img src="icons/Icons.svg" alt="">
                        <p>Bootstrap, Materialize</p>
                    </div>
                    <div class="skill">
                        <img src="icons/Icons.svg" alt="">
                        <p>Bootstrap, Materialize</p>
                    </div>
                </div>
                <div class="marginer"></div>
                <button class="main_btn" >
                    Download CV    
                    <img src="icons/Frame.svg" alt="">
                </button>
            </div>

            <div class="middle_frame">
                <div class="middle_top">
                    <div class="top_left">
                        <h1>Doctor neurologists
                            in OHSU Hospital </h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                        <div class="main_btn">Hire me 
                            <img src="icons/Arrow.svg" alt="">
                        </div>
                    </div>
                    <div class="top_right">
                        <img src="images/main.svg" alt="">
                    </div>
                </div>
                <div class="middle_bottom">
                    <div class="service">
                        <h1>My services</h1>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor <br> do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
                        <div class="service_cards">
                            <div class="service_card">
                                <img src="icons/coding.svg" alt="">
                                <h3>Web development</h3>
                                <p>blog, e-commerce</p>
                            </div>
                            <div class="service_card">
                                <img src="icons/illustration.svg" alt="">
                                <h3>UI/UX</h3>
                                <p>Mobile app, website design</p>
                            </div>
                            <div class="service_card">
                                <img src="icons/Microphone.svg" alt="">
                                <h3>Sound Design</h3>
                                <p>Voice Over, Beat Making</p>
                            </div>
                            <div class="service_card">
                                <img src="icons/game-development.svg" alt="">
                                <h3>Game Design</h3>
                                <p>Character Design, Props & Objects</p>
                            </div>
                            <div class="service_card">
                                <img src="icons/Photographer.svg" alt="">
                                <h3>Photography</h3>
                                <p>portrait, product photography</p>
                            </div>
                            <div class="service_card">
                                <h3>Advertising</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </p>
                                <a href="">Order now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_frame">
                <div class="contrast">
                    <img src="icons/Contrast.svg" alt="">
                </div>
                <div class="right_menu">
                    <div class="menu_icon">
                        <img src="icons/Home.svg" alt="">
                    </div>
                    <div class="menu_icon">
                        <img src="icons/Services.svg" alt="">
                    </div>
                    <div class="menu_icon">
                        <img src="icons/cv.svg" alt="">
                    </div>
                    <div class="menu_icon">
                        <img src="icons/Portfolio.svg" alt="">
                    </div>
                    <div class="menu_icon">
                        <img src="icons/Blog.png" alt="">
                    </div>
                    <div class="menu_icon">
                        <img src="icons/Contact.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>